.budget-container {
    margin: 5%;
    border: 1px solid black;
    .display-output {
        .inc-output {
            color: green;
            margin-top: 5%;
        }
        .exp-output {
            color: red;
            margin-top: 5%;
        }
        .current-balances {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .budget-input {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    .budget-columns {
        display: flex;
        justify-content: space-evenly;
        h1 {
            text-align: center;
            font-size: 2rem;
        }
        .expense-container,
        .income-container {
            display: flex;
            flex-direction: column;
        }
    }
}
